@model RoboBears.DatabaseAccessors.EntityFramework.Description

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Description</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullDescription)
        </dd>

    </dl>
</div>
<h4>Notes:</h4>
<ul>
    @foreach (var item in Model.Notes)
    {
        <li>
            @Html.DisplayFor(model => item.Body)
        </li>
    }

</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DescriptionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
