@model RoboBears.DatabaseAccessors.EntityFramework.Mat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionId)
        </dd>

    </dl>
    @if(Model.Obstacles.Count > 0)
    {
        <h4>Obstacles:</h4>
    }
    <ul>
        @foreach (var obstacle in Model.Obstacles)
        {
            <li>
                @Html.ActionLink(obstacle.Title,"Details","Obstacles",new { area = "DataManage", id = obstacle.ObstacleId },null)
            </li>
        }
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MatId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
