@model RoboBears.DatabaseAccessors.EntityFramework.Year

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Year</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.GameId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.GameId)
        </dd>
</dl>
    <table class="table">
        <thead>
            Competitions
        </thead>
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Competitions.FirstOrDefault().CompetitionID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Competitions.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Competitions.FirstOrDefault().CompetitionType)
                </th>
            </tr>
            @foreach(var competition in Model.Competitions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => competition.CompetitionID)
                    </td>
                    <td>
                        @Html.DisplayFor(model => competition.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => competition.CompetitionType.Title)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.YearId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
