@model RoboBears.DatabaseAccessors.EntityFramework.Team

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeamId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Robot.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Robot.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionId)
        </dd>

    </dl>
</div>
<h4>Competitions:</h4>
<ul>
    @foreach (var competition in Model.Competitions)
    {
        <li>
            @Html.ActionLink(competition.Title, "Details", "Competitions", new { area = "DataManage", id = competition.CompetitionID },null)
        </li>
    }
</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
